body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
}
header{
  display: flex;
  justify-content: space-between;
}
.logo{
  /* margin-left:52px; */
  margin-top: 10px;
  border: 1px solid black;
}
.anc-logo{
  padding-left: 46px;
  border: black 1px solid;
}
.navigation{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  padding-top: 40px;
  border: solid 1px black;
}
.navigation-link{
    text-decoration: none;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    display: flex;
    margin-left:28px;
    float: left;
}
.background{
  background-image: ;
  background: linear-gradient(to bottom, gray, transparent) url("netcel-hero.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1000px;
  color: white;
  /* width: 100%; */
  /* border: black 1px solid; */
  /* margin-top: -220px;   */
}
.background-image{
width: 100%;
height: 50em;
}
.container {
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 240px auto;

  }
.box1 {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #385D77;
    float: left;
  }
  .box2 {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #ED1556;
    float: left;
  }
  .box3 {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #00947E;
    float: left;
  }
  .box-head{
    text-align: center;
    font-weight: 100;
  }