body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /* background-color: #F3F3F3; */
}
header {
  display: flex;
  justify-content: space-between;
}
/* netcel logo.png */
.logo {
  /* margin-left:52px; */
  margin-top: 10px;
  background-color: #fff;
}
.anc-logo {
  padding-left: 46px;
  
}
/* Navigation links */
.navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  padding-top: 40px;
  padding-bottom: 50px;
  justify-content: space-between;
  width: 47%;
  background-color:  #fff;
}
.navigation-link {
  text-decoration: none;
  color: #5c5c5c;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", Arial, Helvetica, sans-serif;

}
.background {
  background-image: linear-gradient(to bottom, rgb(37, 37, 37), transparent),
    url("netcel-hero.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  /* margin-bottom: 20%; */
  background-color: #fff;
}
/* For Backgrounf text heading 1 */
.back-text-1
{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 2%;
  line-height: 66px;
}
.back-text-1 h1
{
  font-size: 60px;
  font-weight: 300;
  line-height: 33px;
}
/* For Backgrounf text heading 2 */
.back-text-2{
  width: 60%;
  font-size: 30px;
  font-weight: 300;
  line-height: 33px;
  margin-left: 2%;

}
.back-text-2 h3
{
  font-weight: 300;
  font-size: 30px;
  margin-top: 0px;
  line-height: 33px;
  margin-bottom: 12%;
}
.background-image {
  width: 100%;
  height: 50em;
}
.container {
  position: relative;
  /* width: 100%; */
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3%;
  /* margin-left: 3%; */
  border: black 1px solid;
}
.box1 {
  width: 418px;
  height: 429px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#blue {
  background: #385d77;
}
#pink {
  background: #ed1556;
}
#green {
  background: #00947e;
}
.box1 h2 {
  width: 60%;
  font-size: 35px;
  font-weight: 300;
}
.box1 p {
  width: 60%;
}
/* Partner Section layout */
.principle{
  width: 73%;
  margin-left: 14%;
  height: 1000%;
  border: 1px solid black;
  color: black;
  background-color: #fff;
  margin-top: 15%;
}
.principle h1{
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  color: #5c5c5c;
}
.partner-image{
  background-color: #fff; 
  border: black 1px solid;
}
.partner-image a img{
  width: 399px;
  height: 90px;
  margin-top: 4%;
  margin-bottom: 4%;
  padding-left: 7%;
}
.partner-p{
  font-size: 24px;
  font-weight: 300;
  color: #5c5c5c;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 10%;
}
section
{

  background-color: #F3F3F3;
}
/* Work Delivers */
.delivers
{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.delivers h1{
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  color: #5c5c5c;
  text-align: center;
  margin-top: 4%;
}
.sections
{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  /* margin-bottom: 50px; */
  background-color: #fff;
  padding-bottom: 100px;
}
#section-img
{
  height: 250px;
}

/* Awards */
.awards
{
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  color: #5c5c5c;
}
.awards-img
{
  display: flex;
  justify-content: space-between;
  border: red 1px solid;
}
/* Contacts */
.contact
{
  height: 223px;
  background-color: #ed1556;
}
.location
{
  height: 222px;
  display: flex;
  background-color: #4c4c4c;
}
.location-contact
{
  background-color: #4c4c4c;
  height: 222px;
width: 93%;
transform-origin: bottom left;
}
.social-webs
{
background-color: #696969;
height: auto;
width: 20%;
clip-path: polygon(0 0, 100% 0%, 100% 99%, 14% 100%);
border-right: 200px solid #696969;
}
