body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #F3F3F3;
}
header {
  display: flex;
  justify-content: space-between;
}
.logo {
  /* margin-left:52px; */
  margin-top: 10px;
  border: 1px solid black;
}
.anc-logo {
  padding-left: 46px;
  border: black 1px solid;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  padding-top: 40px;
  border: solid 1px black;
  justify-content: space-between;
  width: 40%;
}
.navigation-link {
  text-decoration: none;
  color: #5c5c5c;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", Arial, Helvetica, sans-serif;

}
.background {
  background-image: linear-gradient(to bottom, rgb(37, 37, 37), transparent),
    url("netcel-hero.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1000px;
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* width: 100%; */
  /* border: black 1px solid; */
  /* margin-top: -220px;   */
}
/* For Backgrounf text heading 1 */
.back-text-1
{
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  margin-top: 20%;
  font-size: 32px;
  font-weight: 300;
  line-height: 66px;
}
/* For Backgrounf text heading 2 */
.back-text-2{
  width: 60%;
  font-size: 30px;
  font-weight: 300;
  line-height: 33px;
}
.background-image {
  width: 100%;
  height: 50em;
}
.container {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box1 {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#blue {
  background: #385d77;
}
#pink {
  background: #ed1556;
}
#green {
  background: #00947e;
}
.box1 h2 {
  width: 60%;
  font-size: 35px;
  font-weight: 300;
}
.box1 p {
  width: 60%;
}
/* Partner Section layout */
.principle{
  width: 80%;
  margin-left: 10%;
  height: 1000%;
  border: 1px solid black;
  color: black;

}
.partner-image{
  background-color: #fff; 
  border: black 1px solid;
  
}
.partner-p{
  font-size: 22px;
}
/* Work Delivers */
.delivers
{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.sections
{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-bottom: 50px;
  background-color: #fff;
}
#section-img
{
  height: 250px;
}

/* Awards */

/* Contacts */
.contact
{
  border: black 1px solid;
  height: 223px;
  background-color: #ed1556;
}
.location
{
  border: 1px black solid;
  height: 222px;
  background-color: #4c4c4c;
}